body {
	margin: 0;
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
		"Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
		sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

code {
	font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
		monospace;
}

#components-layout-demo-top-side-2 .logo {
	float: left;
	width: 120px;
	height: 31px;
	margin: 16px 24px 16px 0;
	background: rgba(255, 255, 255, 0.3);
}

.ant-row-rtl #components-layout-demo-top-side-2 .logo {
	float: right;
	margin: 16px 0 16px 24px;
}

.site-layout-background {
	background: #fff;
}

.main-content {
	min-height: 100vh;
	padding: 24;
	margin: 0;
}

.header {
	background: #fff;
}

.pageHeader {
	padding: 5px 0px;
}

.cart-list {
	list-style: none;
}

.cart-list li {
	display: flex;
	justify-content: space-between;
}

.cart-list li span {
	flex: 1;
}

.cart-list li span:nth-child(2) {
	flex: 2;
}

.cart-list li span:nth-child(3) {
	flex: 1;
	width: 60px;
}

.totalAmountOfCart {
	border-top: 1px solid rgb(145, 144, 144);
	margin-top: 10px;
	padding: 10px 0px;
}

.dashboard-card {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.categories {
	list-style: none;
}

.categories li {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	border-bottom: 1px solid #ececec;
	padding: 10px 0px;
}

.categories li span:first-child span {
	font-weight: bold;
}
